<header class="shadow fixed-top d-flex justify-content-between">
    <a href="/"><img class="logo-header" src="/img/rnr-logo-w.png"></a>
    <a href="/"><h1 class="mx-4 head-title">Bikepacking Rigs + Routes</h1></a>
    <ul class="nav nav-color">
        <li>
            <a class="nav-link" href="/rigs">rigs</a>
        </li>
        <li>
            <a class="nav-link" href="/rides">rides</a>
        </li>
    </ul>
</header>