<header>
    <a href="/"><h1>Bikepacking Rigs + Routes</h1></a>
    <ul class="nav nav-color">
        <li>
            <a class="nav-link" href="/rigs">rigs</a>
        </li>
        <li>
            <a class="nav-link" href="/rides">rides</a>
        </li>
    </ul>
</header>