<header>
    <a href="/"><h1>Rigs + Routes</h1></a>
    <ul>
        <li>
            <a href="/rigs">rigs</a>
        </li>
        <li>
            <a href="/rides">rides</a>
        </li>
    </ul>
</header>