<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('../partials/header.ejs')%>
    <!---------header/nav--------->
    <main>
        <h2>Rigs</h2>
        <a href="rigs/new">Create a Rig</a>
        <ul>
            <%rigs.forEach(rigs => { %>
            <li>
            <a href="/rigs/<%=rigs._id%>"><%=rigs.name%></a>    
            <% }) %>
            </li>
        </ul>
    </main>
</body>
</html>