<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('/Users/codebook/Desktop/GA/project-two/Mongo-Express-Node-App/partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('/Users/codebook/Desktop/GA/project-two/Mongo-Express-Node-App/partials/header.ejs') %>
    <!---------header/nav--------->
    <main>
        rigs page
    </main>
</body>
</html>