<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('./partials/head.ejs')%>
<!---------head--------->
<body>
    <div class="wrap">
    <!---------header/nav--------->
    <%- include('./partials/header.ejs') %>
    <!---------header/nav--------->
    <main class="d-flex justify-content-center">
        <button class="btn btn-warning btn-lg mx-2">Login</button>
        <button class="btn btn-warning btn-lg mx-2">Register</button>
    </main>
    <footer>
        <div class="mtn">

        </div>
    </footer>
    </div>
</body>
</html>