<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('./partials/head.ejs')%>
<!---------head--------->
<body>
    <div class="wrap">
    <main class="d-flex justify-content-center">
        <!-- <h2>Hello Friend!</h2> -->
        <h1 class="welcome">Bikepacking <br>Rigs + Routes</h1>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <div class="logo-bg">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8U9oxZ99YL.json"  background="transparent" speed=".8"  style="width: 300px; height: 300px;margin-left:-160px;margin-bottom:-100px;"  loop  autoplay></lottie-player>
        </div><br>
            <div class="d-flex flex-column">
            <h2 class="text-center">Welcome! Start by checking out some<br>Bikepacking Rigs and Routes!</h2><br>
            <!-- <form action="/rigs" method="post">
                    <input type="file" name="img" class="filepond">
                    <input class="btn btn-primary" type="submit"></input>
            </form> -->
            <div class="nav justify-content-center">
            <a href="/rigs"><button class="btn btn-success btn-lg px-5 mx-5 my-3 shadow-sm" action="">View Rigs</button></a><br>
            <a href="/rides"><button class="btn btn-success btn-lg px-5 mx-5 my-3 shadow-sm">View Routes</button></a>
            </div>
        </div>
    </main>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>