/* light green - #606C38
dark green - #283618
beige - #FEFAE0
light orange - #DDA15E
dark orange - #BC6C25 */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo+Mono:ital,wght@0,500;1,500&family=Fragment+Mono:ital@0;1&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    margin: 0 0;
    padding: 0 0;
    background-color: #FEFAE0;
    margin: 0 0;
    height: 100vh;
}
header{
    display: flex;
    box-sizing: border-box;
    font-family: 'Chivo Mono', serif;
    font-size: 1.6rem;
    color: #FEFAE0;
    background: #283618;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.6rem;
    font-family: 'Bitter', serif;
    color: rgb(255, 180, 4);
    font-weight: 800;
    margin: 24px 0;
    text-shadow: 2px 2px 2px rgb(163 114 10 / 80%);
}
h2{
    font-family: 'Bitter', serif;
    font-style: italic;
    font-weight: 800;
    color: rgb(255, 180, 4);
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px rgba(163 114 10 / 80%);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
hr{
    border-top: 2px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}
.nav-color{
    --bs-nav-link-color: #FEFAE0;
    --bs-nav-link-hover-color:#d4d0b9; 
}
.logo-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/rnr-logo.png);
    background-size: cover;
    height: 300px;
    width: 320px;
    background-repeat: no-repeat;
}
.logo-header{
    max-height: 60px;
    margin: 8px 8px;
}
.wrap{
    background-color: #FEFAE0;
    background-image: linear-gradient(180deg, #f053e0 0%, #ffc022 45%);
	background-size: 200% 200%;
	height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: -200;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
main{
    margin: 120px 0 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
    position: relative;
}
footer{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    bottom: 0;
    z-index: -100;
}
.welcome{
    font-size: 4rem;
    line-height: 3.6rem;
    text-shadow: 3px 3px 2px rgba(163, 114, 10, 0.8);
}
.mtn{
    display: flex;
    width: 100%;
    height: 30vw;
    position: fixed;
    bottom: 0;
    background-image: url(https://dev.lehi.work/mt3.svg);
    background-repeat: repeat-x;
    background-size: 200%;
    animation: scroll-anim 80s linear infinite;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.mtn::before{
    content: "";
    width: 100%;
    height: 30vw;
    position: fixed;
    bottom: 0;
    background: url(https://dev.lehi.work/mt2.svg) repeat-x;
    background-size: 200%;
    animation: scroll-anim 48s linear infinite;
    z-index: -100;
}
.mtn::after{
    content: "";
    width: 100%;
    height: 12vw;
    position: fixed;
    bottom: 0;
    background: url(https://dev.lehi.work/m1.svg) repeat-x;
    background-size: 400%;
    animation: scroll-anim 38s linear infinite;
    z-index: -100;
}
@keyframes scroll-anim {
    100% {
        background-position: 100% 0;
    }
}
.img-show{
    border-radius: 6px 6px;
    margin: 18px 8px;
}
.rnr-card{
    width: 25%; 
    max-width: 320px;
    font-family: 'Chivo Mono', serif;
}
.rig-details{
    margin: 2px 0;
    padding: 8px 4px;
    color: #666;
    font-family: 'Fragment Mono', sans-serif;
    border-radius: 4px;
    z-index: 200;
    text-transform: uppercase;
}
.rig-new{
    background-color: #86974e;
}
.rig-title{
    color: #BC6C25;
    margin: 2px 0;
    padding: 2px 2px;
    color: #fff;
    font-family: 'Fragment Mono', sans-serif;
    font-size: 1.6rem;
}
.rig-title a{
    color: #BC6C25;
}
.rig-title a:hover{
    color: #ec7c19;
}
.upload{
    width: auto;
}
.specs{
    font-family: 'Chivo Mono', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #DDA15E;
}
.container{
    z-index: 200;
    position: relative;
}
.card{
    max-width: 360px;
}
.show-fluid{
    width: 50%; 
    max-width: 666px;
}
@media (max-width: 991.98px) {
    .rnr-card{
        width: 50%; 
        max-width: 320px;
    }
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.6rem;
    }
    header {
        font-size: 1rem;
        padding: 12px 0;
    }
    .show-fluid{
        width: 100%; 
        max-width: 666px;
        flex-direction: column-reverse;
    }
    .container{
        flex-direction: column-reverse;
    }
}

@media (max-width: 767.98px) {
    h1{
        margin: 12px 0;
    }
   .rnr-card{
    width: 100%;
   }
   .wrap{
    width:100%
   }
   .logo-header{
    max-height: 60px;
    margin: 0 16px;
    }
}

@media (max-width: 576px) {
    .head-title{
        display: none;
    }
    header{
        justify-content: space-between;
    }
}