<!DOCTYPE html>
<html lang="en">
<!---------head--------->
<%- include('../partials/head.ejs')%>
<!---------head--------->
<body>
    <!---------header/nav--------->
    <%- include('../partials/header.ejs')%>
    <!---------header/nav--------->
    <main>
        <h2>Rides</h2>
        <a href="rides/new">Create a Ride</a>
        <ul>
            <%rides.forEach(rides => { %>
                <li>
                <a href="/rides/<%=rides._id%>"><%=rides.name%></a>    
                <% }) %>
                </li>
            </li>
        </ul>

    </main>
</body>
</html>